client/node_modules
mobile/node_modules
server/node_modules
client/.env
mobile/.env
server/.env
backend/*/.env
backend/*/node_modules
mobile/.expo
.env
**/.env
k8s/overlays/**/secret.yaml

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc